.article {
  display: flex;
  flex-direction: column;
  max-width: 380px;

  &--wide {
    max-width: 480px;
  }

  &--float-r {
    float: right;
  }

  &__note {
    margin-bottom: 10px;

    &--exception {
      position: relative;
      left: -100px;

      @include text-title;
      line-height: 57.6px;
      color: $color-red;
      margin-bottom: 20px;
    }

    &--red {
      color: $color-red;
    }
  }

  &__title {
    @include text-title--small;
    margin-bottom: 20px;

    &--smallest {
      @include text-title--smallest;
    }
  }

  &__details {
    margin-bottom: 55px;
    color: $color-gray;
  }

  &__image {
    margin-bottom: 30px;
    @include box(370px);
  }
}
