.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 270px;

  color: $color-light;
  background-color: $color-red;

  text-decoration: none;

  &--transparent {
    background-color: transparent;
    border: 1px solid $color-light;
  }
}

.section-button {
  display: flex;
  justify-content: flex-end;

  color: $color-black;

  text-decoration: none;

  &::after {
    content: "";
    position: relative;

    top: 7px;
    left: 20px;

    width: 70px;
    height: 1px;

    background-color: $color-black;
  }
}
