.events {
  padding: 260px 0 185px;

  @include screen-l {
    padding: 0 0 115px;
  }

  &__header {
    @include text-title;
    position: relative;
    left: -40px;
    text-align: center;
    margin-bottom: 65px;

    @include screen-l {
      left: 0;
      text-align: left;
    }

    @include screen-m {
      font-size: 36px;
      line-height: 45px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > *:not(:last-child) {
      margin-right: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 75px;
    }
  }

  &__wrapper {
    display: flex;

    @include screen-m {
      flex-direction: column;
    }
  }

  &__datetime {
    margin-left: 50px;
    width: 170px;

    @include screen-xl {
      margin-left: 10px;
    }
  }

  &__datatime-small {
    @include screen-m {
      display: flex;
    }
  }

  &__datatime-mini {
    display: none;

    @include screen-m {
      display: block;
      margin-right: 20px;
      color: $color-red;
    }
  }

  &__date {
    text-shadow: -1px 0 $color-red,
      0 1px $color-red,
      1px 0 $color-red,
      0 -1px $color-red;

    position: relative;
    left: -30px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    color: $color-light;
    margin-bottom: 10px;
    font-size: 55px;
    line-height: 55px;

    @include screen-m {
      display: none;
    }
  }

  &__time {
    position: relative;
    left: 50px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    color: $color-red;
    font-size: 36px;
    line-height: 36px;

    @include screen-xl {
      left: 20px;
    }

    @include screen-m {
      display: none;
    }
  }

  &__image {
    @include screen-xl {
      width: 300px;
    }

    @include screen-l {
      display: none;
    }
  }
}
