.exhibition {
  padding: 160px 0;

  @include screen-l {
    padding: 115px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__img {
    position: absolute;

    &--first {
      top: 60px;
      left: 0;

      @include screen-xl {
        width: 450px;
      }

      @include screen-l {
        width: 293px;
        top: 130px;
      }

      @include screen-m {
        left: inherit;
        right: 0;
        top: 290px;
        width: 240px;

        transform: scale(-1, 1);
      }

      @include screen-s {
        width: 320px;
        top: 170px;
        right: -85px;
      }
    }

    &--second {
      top: 880px;
      right: 0;

      @include screen-xl {
        top: 950px;
        height: 350px;
      }

      @include screen-l {
        top: 670px;
        height: 250px;
      }

      @include screen-m {
        left: -20px;
        top: 770px;
        height: 220px;
        transform: scale(-1, -1);
      }

      @include screen-s {
        top: 720px;
        left: -140px;
      }
    }

    &--third {
      bottom: 50px;
      left: 0;

      @include screen-xl {
        height: 450px;
      }

      @include screen-l {
        height: 255px;
        bottom: 30px;
      }

      @include screen-m {
        position: relative;
        height: 200px;
        bottom: -100px;
        left: inherit;
        right: 90px;
      }

      @include screen-s {
        right: 200px;
      }
    }
  }

  &__button {
    @include screen-l {
      display: none;
    }
  }

  &__header {
    @include text-title;
    text-align: center;
    line-height: 100%;

    @include screen-l {
      margin-bottom: 55px;
    }

    @include screen-m {
      font-size: 36px;
      line-height: 45px;
      text-align: left;
    }
  }

  &__block {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 20px;
    }
  }

  &__col {
    flex: 1;

    @include screen-l {
      min-width: 325px;
    }

    @include screen-m {
      //  asdasd
    }

    &--first {
      @include screen-m {
        order: 2;
      }
    }
  }
}
