.header {
  background-color: $color-dark;
  color: $color-light;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 55px 30px;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 123px;
    height: 40px;
  }
}
