.header {
  @include dark-background;
  padding: 20px 0 30px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 123px;
    height: 40px;
    transition: transform 0.4s linear;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__tools {
    display: flex;
  }
}
