.basic {
  @include dark-background;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 720px;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;

      display: block;
      width: 673px;
      height: 753px;

      content: "";

      background-image: url(/images/general/main.png);
      background-repeat: no-repeat;

      z-index: 1;
    }
  }

  &__text-block {
    margin-left: 100px;
    margin-bottom: 110px;
  }

  &__descr {
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__date {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
    bottom: -20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 100px;
      bottom: 45%;

      width: 800px;
      height: 1px;

      background-color: $color-light;
      opacity: 0.3;

      overflow: hidden;
      z-index: 0;
    }
  }

  &__img-descr {
    position: absolute;
    top: 50%;
    right: 4%;
  }
}
