.select {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 0;
  width: 50px;

  z-index: 20;

  &--active {
    border: 1px solid $color-light;
  }

  &__lang {
    margin-right: 5px;
  }

  &__lang-list {
    position: absolute;
    display: none;
    width: 50px;
    top: 26px;

    &--active {
      display: block;
      border: 1px solid $color-light;
    }
  }

  &__lang-item {
    padding: 5px 0 5px 7px;
  }

  &__icon {
    transition: transform 0.35s linear;
    &--active {
      transform: rotate(180deg) translateY(2px);
    }
  }
}
