.subscribe {
  padding: 160px 0;

  background-color: $color-red;
  color: $color-light;

  &__header {
    @include text-title;
    margin-bottom: 40px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 570px;
  }

  &__input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 300px;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid $color-light;
    color: $color-light;

    outline: none;

    &::placeholder {
      color: $color-light;
    }
  }
}
