.subscribe {
  padding: 160px 0;

  background-color: $color-red;
  color: $color-light;

  &__header {
    @include text-title;
    margin-bottom: 40px;
  }

  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 570px;
  }

  &__button {
    position: absolute;
    right: 0;
    top: 50%;

    opacity: 0;

    transition: opacity 1s ease, transform 0.4s ease;

    &:hover {
      transform: scale(1.25);
    }
  }

  &__input {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;

    margin-right: 50px;
    width: 300px;

    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid $color-light;
    color: $color-light;

    outline: none;

    &::placeholder {
      color: $color-light;
    }

    &:focus {
      .subscribe__button {
        display: block;
      }
    }
  }
}
