.visit {
  @include dark-background;
  height: 800px;
  padding: 190px 0 160px;

  @include screen-l {
    padding: 120px 0 160px;
  }

  @include screen-m {
    height: auto;
    padding: 80px 0;
  }

  &__title {
    @include text-title--big;
    margin-bottom: 60px;
    position: relative;
    left: 40%;
    width: 700px;

    @include screen-xl {
      font-size: 72px;
      width: 615px;
    }

    @include screen-l {
      left: 0;
    }

    @include screen-m {
      position: static;
      width: auto;
      margin-bottom: 40px;

      font-size: 48px;
      line-height: 48px;
    }
  }

  &__info {
    position: relative;
    left: 48.5%;
    display: flex;
    flex-direction: column;
    width: 470px;

    @include screen-l {
      left: 40%;
      max-width: 370px;
    }

    @include screen-m {
      position: static;
      width: auto;
    }
  }

  &__details {
    margin-bottom: 60px;
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 746px;
    height: 800px;

    background-image: url(/images/general/visit.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include screen-xl {
      height: 700px;
    }

    @include screen-l {
      height: 500px;
    }

    @include screen-m {
      display: none;
    }
  }
}
