@import "../../node_modules/reset-css/sass/reset";
@import "utils/utils";
@import "modules/modules";

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  background-color: $color-light;
  color: $color-black;
}

.container {
  max-width: 1170px;
  //height: 100%;
  margin: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 270px;

  color: #fff;
  background-color: $color-red;
  text-decoration: none;
}
