@import "../../node_modules/reset-css/sass/reset";
@import "utils/utils";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $size-base;
  font-family: $font-base;
  line-height: 24px;
  scroll-behavior: smooth;

  background-color: $color-light;
  color: $color-black;

  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;

  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: $size-content;
  padding: 0 55px;
  width: 100%;

  @media screen and (max-width: 1023px) {
    padding: 0 99px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

// Normalized:
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

@import "modules/modules";
