@mixin dark-background {
  background-color: $color-dark;
  color: $color-light;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

// Media:
@mixin screen-s {
  @media screen and (max-width: #{$screen-s}) {
    @content;
  }
}

@mixin screen-m {
  @media screen and (max-width: #{$screen-m}) {
    @content;
  }
}

@mixin screen-l {
  @media screen and (max-width: #{$screen-l}) {
    @content;
  }
}

@mixin screen-xl {
  @media screen and (max-width: #{$screen-xl}) {
    @content;
  }
}
