@mixin dark-background {
  background-color: $color-dark;
  color: $color-light;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

//@mixin hover($_property, $_toValue) {
//  transition: #{$_property} 0.3s;
//  &:hover {
//    #{$_property}: $_toValue;
//  }
//}

//@mixin pseudo($display: block, $pos: absolute, $content: ''){
//  content: $content;
//  display: $display;
//  position: $pos;
//}
