.text-main {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &--red {
    color: $color-red;
  }

  &--events {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
  }

  &--gray {
    color: $color-gray;
  }
}

.text-title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;

  &--smaller {
    font-size: 20px;
    line-height: 25px;
  }

  &--small {
    font-size: 24px;
    line-height: 30px;
  }

  &--big {
    font-size: 96px;
  }
}

.text-description {
  line-height: 24px;
  color: $color-gray;
}
