// Colors:
$color-light: #f1f5f4;
$color-dark: #3f5252;
$color-black: #1c1b29;
$color-gray: #504f5e;
$color-red: #cd4d31;

// Sizes:
$size-base: 16px;
$size-content: 1280px;

// Breakpoints:
$breakpoints: ("phone": 400px,
"phone-wide": 480px,
"phablet": 560px,
"tablet-small": 640px,
"tablet": 768px,
"tablet-wide": 1024px,
"desktop": 1248px,
"desktop-wide": 1440px);

// Fonts:
$font-base: "Raleway", sans-serif;
$font-title: "Playfair Display", serif;

// Sandwich:
$sandwich-width: 25px;
$sandwich-height: 2px;
$sandwich-spacing: 7px;
